body{
    background-color: white;
}
.img1{
    position: relative;
    color:white;
    text-align: center;
}
.logo1{
    position: absolute;
    top:29.9%;
    left:30.5%;
}
h1{
    font-size:57px;
    font-family: 'Pathway Gothic One', sans-serif;  
}
h2{
    font-size:59px;
    font-family: 'Pathway Gothic One', sans-serif;
}
.logo2{
    position: absolute;
    top:90%;
    left:48%;
}
p{
    font-family:'Cormorant', serif;
    font-size:24px;
}
.img2{
    position: relative;
    color:white;
    text-align: center;
}
.text{
    position:absolute;
    top:32%;
    left:10%;
    font-weight: bold;
}
.des1{
    display:none;
}